@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 6.25%;
}

body{
    font-size: 16rem;
    background-color: #242037; 
    background-image: url(img/books.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

:root{
    --primary-color: #ef444c;
    --secondary-color: #242037;
    --text-color: #f6f5fa;
    --accent-color: #f15f62;
    --danger-color: #d94665;
    --white-color: #f9fefe;
}

.container1{
    width: 100vw;
    height: 100vh;
}

.header-container{
    background-color: var(--primary-color);
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.header-left, .header-right{
    padding: 15px 25px 15px 25px;
}

.header-left{
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 5;
    gap: 20px;
}

.display-font{
    font-family: 'Bowlby One SC', cursive;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    background-image: url(img/profile-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#searchBar{
    appearance: none;
    border: none;
    padding: 7px;
    outline: none;
    border-radius: 7px;
    width: 400px;
}

.btn-search{
    appearance: none;
    border: none;
    outline: none;
    padding: 7px 27px 7px 27px;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
}

.btn-search:hover{
  
}

.library-logo{
    font-size: 33rem;
    font-family: 'Bowlby One SC', cursive;
    color: var(--white-color);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstSection{
    display: flex;
    padding: 70px;
    margin-top: 130px;
    width: 850px;
}

.display-text{
    color: var(--white-color);
    font-family: 'Bowlby One SC', cursive;
    font-size: 80rem;
}

.display-text-span{
    color: var(--primary-color);
    font-family: 'Bowlby One SC', cursive;
    font-size: 80rem;
}

.btn-main{
    padding: 12px 50px 12px 50px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    font-size: 18rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    transition: ease-in-out, 70ms;
}

.btn-main:hover{
    transform: scale(1.1);
    border: 4px solid white;
}

.text-container{
    text-align: center;
    line-height: 85rem;
}


/*Media queries*/

@media screen and (max-width: 768px){
    .search-bar{
        display: none;
    }
}

@media screen and(min-width: 769px) and (max-width: 1024px){

}